h1,p {
    border: 1px solid black;
}
h1 {
    color:red;
    text-align: center;
}
p{
    background-color:green;
    text-align: center;
}
#choise {
    font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}
p::first-letter{
    font-size: 2rem;
}
p:hover{
    text-decoration: underline;
    cursor: pointer;
}